<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HostSmtp" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="SenderName" value="Michał Beśka"/>
    <add key="SenderEmail" value="reportservicetest@gmail.com"/>
    <add key="SenderEmailPassword" value="encrypt:btowczbeplzobilj"/>
    <add key="ReceiverEmail" value="beskamichal49@gmail.com"/>

  </appSettings>
</configuration>